.inputXL {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  input[type='checkbox'] {
    width: 100px;
    height: 100px;
    border-radius: 12px;
    background-color: white;
  }
  input[type='radio'] {
    width: 100px;
    height: 100px;
    background-color: white;
  }
  label {
    color: white;
    font-size: 1.25rem;
    padding: 1rem;
    text-align: center;
    height: 50px;
  }
}