@mixin pill {
  display: inline-block;
  border:1px solid rgba(255,255,255,0.25);
  border-radius: 1rem;
  padding: 0.4rem 1rem;
  margin: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 110px;
  max-height: 1.5rem;
  line-height: 1.1rem;
}

.preferences {
  .container-small {
    text-align: left;
  }
  h5 {
    font-weight: 300;
    display: inline;
    margin: 0;
  }
  .pill {
    @include pill
  }
  &__section {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 1.5rem 0;
    border-bottom: 1px solid rgba(255,255,255,0.25);
    // &.--list {
    //   border:1px solid white;
    //   .preferences__pill-list {
    //     &__item {
    //       max-width: unset;
    //     }
    //   }
    // }
  }
  &__pill-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    &__title {
      margin: 0.5rem;
    }
    &__item {
      @include pill
    }
  }
}

@media all and (max-width: 480px) {
  .container-small {
    padding: 0.5rem;
    margin: 0;
    background: none;
  }
}