@import 'colors';

div#root, body {
  margin: 0; padding: 0;
}

.checks-layout {
  display: flex;
  
}

.centered-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container-small {
  max-width: 400px;
  text-align: center;
  border-radius: 3rem;
  padding: 2rem;
  margin: 2rem;
  background-image: url(svg/fluid-gradient.svg);
  background-size: cover;
}

.main-selection-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  footer {
    width: 100%;
  }
}

.holy-grail-layout {
  display: grid;
  grid-template-columns: 150px auto 150px;
  grid-template-rows: 10% 80% 10%;
  grid-gap: 1em;

  main {
    padding: 2rem;
  }

  header, footer {
    grid-column: 1 / 4;
    padding: 2rem;
  }

  &.centered-layout {
    h1,h2,h3,h4,h5,h6,p,a { text-align: center;}
  }
}

@media all and (max-width: 700px) {
  .holy-grail-layout {
    grid-template-rows: 10% 10% 80% 10% 10%;
    aside,
    main {
      grid-column: 1 / 4;
    }
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

