@import './styles/layout';
@import './styles/font';
@import './styles/typography';
@import './styles/components/header';
@import './styles/components/select';
@import './styles/components/input';
@import './styles/components/checksList';
@import './styles/components/navigation';

body {
  background: #072689;
  background: -webkit-linear-gradient(top left, #072689, #027EF2);
  background: -moz-linear-gradient(top left, #072689, #027EF2);
  background: linear-gradient(to bottom right, #072689, #027EF2);
  min-height: 100vh;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
